

.city{
    width: 100%;
    height: 100vh;
    background-color: aqua;
    border: 1px solid black;
    position: relative;
    background-size: cover;
}

.name{
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  color: antiquewhite;
  font-size: 30px;
  padding: 20px;
}

#city1{
  background-image: url('../immagini/88.jpeg');
}

#city2{
  background-image: url(../immagini/amsterdam_header-114429.jpeg);
}

#city3{
  background-image: url('../immagini/download (1).jpeg');
}