*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container{
    padding: 50px;
}

.add a {
    font-size: 40px;
    color: red;
    text-decoration: none;
}

.title{
    font-size: 40px;
    font-weight: bold;
    margin: 50px 0;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 20px;
}

.title a {
    float: right;
    color: red;
    text-decoration: none;
    font-size: 20px;
}

.albums{
    height:900px;
    background-color: lightgrey;
}

/* metodo per trovare la misura necessaria per inserire n elementi in larghezza
 */
.album{
    margin: 10px;
    float: left;
    width: calc(100% / 6 - 20px);
    height: 270px;
    background: red;
    border: 1px solid black;
}

.album-pic img{
    width: 100%;
/*     height: 100%; */

}

.album-title , .album-number{
    font-size: 20px;
    margin: 10px;
}

.album-number{
    color: gray;
}