.verde{
  background-color: darkmagenta;
  width: 100%;
  height: 1000px;
  position: relative;
}


.blu{
  width: 400px;
  height: 400px;
  background-color: darkseagreen;
  display: inline-block;
  position: relative;
}

.red{
  width: 100px;
  height: 100px;
  background-color: rgb(224, 28, 28);
}


#qq1{
  position: absolute;
}

#qq2{
  position: absolute;
  bottom: 0;
  right: 0;
}

#qq3{

}

#qq4{
  position: relative;
  left: 30px;
}