body{
  background-color: turquoise;
}

.container{
  width: 1000px;
  border: 1px solid black;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}



header, footer{
  height: 10vh;
  text-align: center;
  line-height: 10vh;
  background-color: papayawhip;
}

.left-content{
background-color: tomato;
width: 25%;
float: left;
}

.center-content{
background-color: wheat;
width: 50%;
float: left;
}

.right-content{
background-color: yellowgreen;
width: 25%;
float: left;
}

main:after{
clear: both;
content: '' ; 
display: table;
}

*{
  margin: 0;
  box-sizing: border-box;
}
